# Supabase public key (safe to expose in frontend)
VITE_SUPABASE_URL=https://dwtsqogcmhjrbjoavfhv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3dHNxb2djbWhqcmJqb2F2Zmh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMjQ3MjIsImV4cCI6MjA5NDYwMDcyMn0.AbETtvWhym6w7cN5s3Cewbz6zhweUa6bee_dxk-7Ydg
